[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "themes/pelican-blue"]
	path = themes/pelican-blue
	url = https://github.com/benhoff/pelican-blue.git
