<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico">
<head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        <!--[if IE]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
                <nav><ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in pages %}
                    <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                {% endif %}
                </ul></nav>
        </header><!-- /#banner -->
        {% block content %}
        {% endblock %}
        <section id="extras" class="body">
	  <!-- Begin MailChimp Signup Form -->
	  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
	  <style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	  </style>
	  <div id="mc_embed_signup">
	  <form action="//benhoff.us16.list-manage.com/subscribe/post?u=7b7c800b5bbd90c05c3d6ad0a&amp;id=ab8cdc0ad1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	      <div id="mc_embed_signup_scroll">
		  <h2>Subscribe to the mailing list</h2>
	  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
	  <div class="mc-field-group">
		  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
	  </label>
	  	  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	  </div>
	  <div class="mc-field-group">
		  <label for="mce-FNAME">First Name </label>
		  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
	  </div>
	  <div class="mc-field-group">
		  <label for="mce-LNAME">Last Name </label>
		  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
	  </div>
		  <div id="mce-responses" class="clear">
			  <div class="response" id="mce-error-response" style="display:none"></div>
			  <div class="response" id="mce-success-response" style="display:none"></div>
		  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7b7c800b5bbd90c05c3d6ad0a_ab8cdc0ad1" tabindex="-1" value=""></div>
	      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	      </div>
	  </form>
	  </div>
	  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
	  <!--End mc_embed_signup-->
	
        {% if LINKS %}
                <div class="blogroll">
                        <h2>{{ LINKS_WIDGET_NAME | default('links') }}</h2>
                        <ul>
                        {% for name, link in LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.blogroll -->
        {% endif %}
        {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
                <div class="social">
                        <h2>{{ SOCIAL_WIDGET_NAME | default('social') }}</h2>
                        <ul>
                            {% if FEED_ALL_ATOM %}
                            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
                            {% endif %}
                            {% if FEED_ALL_RSS %}
                            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
                            {% endif %}

                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.social -->
        {% endif %}
        </section><!-- /#extras -->

{% include 'analytics.html' %}
</body>
</html>
